.container {
  height: 100%;
  width: 250px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, #28304b 0%, #28304b 100%);
  border-radius: 12px;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 17px 10px;
}

.container_logo {
  width: 100%;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.content_wrapper {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}

.content_item_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: content;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  padding: 8px 19px;
  position: relative;
  transition: all 0.3s;

}

.content_item_wrapper:hover {
  transition: all 0.3s;
background-color:#513568;
}

.content_item_active {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: content;
  border-radius: 4px;
  color: #fff;
  padding: 8px 19px;
  position: relative;
  transition: all 0.3s;
  background: #e91f63 !important;
}



.content_item_wrapper > span {
  color: #fff ;
  margin-left:18px;
  position: relative;
}
.content_item_active > span {
  color: #fff ;
  margin-left:18px;
  position: relative;
}




.content_item_wrapper:not(:first-child) {
  margin-top: 5px;
}
