.filter_section_wrapper {
  display: flex;
  color: #fff;
  /* border-bottom: 2px solid #8d8d8d8f; */
  justify-content: space-between;
  padding: 6px 20px;
}

.head_additionaly {
  display: flex;
  align-items: center;
  align-content: center;
}

.head_additionaly > svg {
  margin-left: 17px;
}

.section_column {
  display: flex;
  flex-direction: column;
}

.section_text > p {
  margin: 0;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.home > p {
  margin: 0;
  margin-left: 5px;
}

.navigation {
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.navigation > a {
  padding: 0 10px;
}

.navigation > a:hover {
  transition: 2s ease;
  border-bottom: 2px solid #0000008f;
}
