html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #131a32 !important ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-wrapper {
  box-sizing: border-box;
  padding: 11px 38px;
  flex: 1 0 auto;
}

.global-wrapper {
  padding: 11px 8px;
  background-color: #131a32;
  display: grid;
  grid-template-rows: 100% 100%;
  grid-template-columns: 250px auto;
  grid-auto-rows: 100px;
  min-height: 100vh;
}

.bg-card {
  background-color: #28304b !important;
}

.text-head-card {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.387234px;

  color: #ffffff;
}

.text-body-card {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.387234px;

  color: rgba(255, 255, 255, 0.7);
}

.ml-75 {
  margin-left: 75px;
}

.mt-m15 {
  margin-top: -17px;
}


.p-card{
  padding: auto;
}

.hr-card-dark{
  height: 2px !important;
background-color: rgba(0, 0, 0, 0.6);
margin:0;
margin-top: 18px;
}

.bg-sidebar {
  background-image:linear-gradient(180deg, #28304B 0%, #28304B 100%) !important;
}